{% extends "planda/base.html" %}

{% block page_id %}auth_home{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block header_text %}
    <a href="{% url 'planda:index' %}" class="ui-btn-left ui-btn ui-btn-icon-left ui-icon-carat-l" data-transition="slide" data-direction="reverse">Home</a>
    <a href="{% url 'planda:assignments' %}" class="ui-btn-right ui-btn ui-btn-icon-right ui-icon-edit">Edit</a>
    Assignments
{% endblock %}

{% block main_content %}

    <style type="text/css">

    .ui-listview>.ui-li-static {
        padding: 0;
    }

    .ui-checkbox {
        margin: -12px;
    }

    </style>

    <ul data-role="listview" data-split-theme="a" data-split-icon="carat-r">
    {% for course in course_list %}
    <li data-role="list-divider">{{ course.course_name }}</li>
        {% for assignment in course.assignments %}
            <li class="homework-item">
                <a href="#"><label style="font-weight: normal; border: 0px;"><input type="checkbox" id="{{ assignment.id }}" class="toggle-completed">
                <span><strong>{{ assignment.name }}</strong></span>
                <span style="float: right;">{{ assignment.due_date }}</span>
                <br>
                <small>{{ assignment.description }}</small>
                </label>
                    </a>
                <a href="{% url 'planda:assignments' %}{{ assignment.id }}/" data-transition="slide">Details</a>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(".toggle-completed").change(function() {
    if(this.checked) {
        $(this).closest(".homework-item").css({
            'font-weight': 'bold'
        })
    }
});
</script>
{% endblock %}

{% block footer_text %}{% endblock %}