<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load staticfiles %}
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- styles -->
        <link rel="stylesheet" href="{% static 'planda/css/jquery.mobile-1.4.3.min.css' %}">
        <link rel="stylesheet" href="{% static 'planda/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'planda/css/jqm-icon-pack-fa.css' %}">

        <style type="text/css">
        /* for hiding column toggle buttons in tables */
        .ui-table-columntoggle-btn {
            display: none !important;
        }

        /* make headers not cut off */
        .ui-header .ui-title {
           margin-left: 0px;
           margin-right: 0px;
        }


        </style>
        {% block header %}{% endblock %}
    </head>
    <body>

        <div data-role="page" id="{% block page_id %}{% endblock %}">
            <div data-role="header" data-position="fixed">
                {% block header_buttons %}{% endblock %}
                <h1>{% block header_text %}{% endblock %}</h1>
            </div>

            <div data-role="main" class="ui-content">
                {% if messages %}
                    {% for message in messages %}
                        <button class="ui-btn ui-icon-delete ui-btn-icon-left" onclick="$(this).slideUp(100);">{{ message }}</button>
                    {% endfor %}
                {% endif %}
                {% block main_content %}
                    <noscript><h1>No javascript!!!?!?!!</h1></noscript>
                {% endblock %}
            </div>

            <div data-role="footer" data-position="fixed">
                <h1>{% block footer_text %}{% endblock %}</h1>
            </div>
        </div>

        <!-- scripts -->
        <script type="text/javascript" src="{% static 'planda/js/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'planda/js/jquery.mobile-1.4.3.min.js' %}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>