{% extends "planda/base.html" %}

{% block page_id %}auth_home{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block header_text %}Welcome, {{ user.first_name }}{% endblock %}

{% block main_content %}
    <a class="ui-btn ui-btn-icon-left ui-icon-pencil-square" href="{% url 'planda:assignments' %} "data-transition="slide">Assignments</a>
    <a class="ui-btn ui-btn-icon-left ui-icon-folder-o" href="{% url 'planda:courses' %}" data-transition="slide">Courses</a>
    <br>
    <a href="{% url 'planda:preferences' %}" class="ui-btn ui-btn-icon-left ui-icon-gear" data-transition="slide">Preferences</a>
    <a class="ui-btn ui-btn-icon-left ui-icon-sign-out" href="{% url 'planda:logout_user' %}" data-transition="pop" data-direction="reverse">Log Out</a>
    <br>
    <a target="_blank" href="https://docs.google.com/forms/d/1xdtaFDQ96zgSJk6AYoL4bNWgmrmI41tg8XglEvYeONc/viewform?usp=send_form" class="ui-btn ui-btn-icon-left ui-icon-bug">Report a Bug</a>

{% endblock %}


{% block footer_text %}{% endblock %}