{% extends "planner/base.html" %}

{% block page_id %}auth_home{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block header_text %}Assignments{% endblock %}

{% block main_content %}

    <style type="text/css">

    .ui-listview>.ui-li-static {
        padding: 0;
    }

    .ui-checkbox {
        margin: -12px;
    }

    </style>

    <ul data-role="listview" data-split-theme="a" data-split-icon="carat-r">
    {% for course in course_list %}
    <li data-role="list-divider">{{ course.course_name }}</li>
        {% for assignment in course.assignments %}
            <li>
                <a href="#"><label style="font-weight: normal; border: 0px;"><input type="checkbox">
                <span><strong>{{ assignment.name }}</strong></span>
                <span style="float: right;">{{ assignment.due_date }}</span>
                <br>
                <small>{{ assignment.description }}</small>
                </label>
                    </a>
                <a href="{% url 'planner:assignments' %}{{ assignment.id }}/">Details</a>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>

{% endblock %}

{% block footer_text %}{% endblock %}