{% extends "planner/base.html" %}

{% block page_id %}auth_home{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block header_text %}Welcome, {{ user.first_name }}{% endblock %}

{% block main_content %}
    <a class="ui-btn ui-btn-icon-left ui-icon-pencil" href="{% url 'planner:assignments' %}">Assignments</a>
    <a class="ui-btn ui-btn-icon-left ui-icon-folder-o" href="{% url 'planner:courses' %}">Courses</a>
    <br>
    <button class="ui-btn ui-btn-icon-left ui-icon-gear">Preferences</button>
    <a class="ui-btn ui-btn-icon-left ui-icon-sign-out" href="{% url 'planner:logout_user' %}">Log Out</a>

{% endblock %}

{% block footer_text %}{% endblock %}